#About{
    background: #010E1E;
  }
  .purple{
    background: rgba(108, 108, 229, 1);
  }
  .orange{
    background: #FF9B2F;
  }
  .sub-title {
    margin-top:0.24rem ;
  }
  #AB-content{
    width: 12rem;
    color: #fff;
    margin: 0 auto;
    margin-top: 0.97rem;
    padding-bottom: 1.37rem;
  }
  
  #AB-img img{
    width: 3.26rem;
    height: 4.28rem;
  }
  #AB-job{
    width: 8.33rem;
  height: 0.6rem;
  background: #6C6CE5;
  border-radius: 0.1rem;
  text-align: center;
  line-height: 0.6rem;
  margin-left: 0.41rem;
  }
  #AB-personalInformation ul li{
    width: 3.56rem;
    height: 0.6rem;
    border: 1px solid #626262;
    border-radius: 0.1rem;
    line-height: 0.6rem;
    margin-top: 0.32rem;
    margin-left: 0.41rem;
    padding-left: 0.4rem;
  }
  /* About  end*/
  
  /* skill begin */
  #skill{
    color: #fff;
  }
  #skill .section-title::before{
    background: rgba(255, 37, 88, 1);
  }
  #all-skill{
    width: 12rem;
    margin: 0.92rem auto;
  }
  #all-skill ul{
    margin-right: 0.82rem;
  }
  #all-skill ul:last-child{
    margin-right: 0;
  }
  #all-skill li{
    width: 5.6rem;
    margin-bottom: 0.43rem;
  }
  #all-skill ul li:last-child{
    margin-bottom: 0;
  }
  .dialog{
    width: 0.43rem;
    height: 0.36rem;
    background-size: cover;
  }
  .g-progressBar {
    width: 5.6rem;
    height: 0.14rem;
    border-radius: 0.07rem;
    background: #eee;
  
  }
  .progressBar{
    height: inherit;
  border-radius: 0.07rem;
  }
  #html-skill .dialog{
    background-image: url(../images/about/about-pink.png);
  }
  #css-skill .dialog{
    background-image: url(../images/about/about-blue.png);
  }
  #javascript-skill .dialog{
    background-image: url(../images/about/about-purple.png);
  }
  #php-skill .dialog{
  background-image: url(../images/about/about-lightgreen.png);
  }
  #wordpress-skill .dialog{
  background-image: url(../images/about/about-organge.png);
  }
  #photoshop-skill .dialog{
  background-image: url(../images/about/about-green.png);
  }
  #html-skill .progressBar{
    background:rgba(255, 37, 88, 1);
    width: 100%;
  }
  #css-skill .progressBar{
    background: rgba(0, 160, 233, 1);
    width: 60%;
  }
  #javascript-skill .progressBar{
    background: rgba(196, 144, 191, 1);
    width: 80%;
  }
  #php-skill .progressBar{
    background:rgba(19, 181, 177, 1);
    width: 80%;
  }
  #wordpress-skill .progressBar{
    background:rgba(243, 152, 0, 1);
    width: 50%;
  }
  
  #photoshop-skill .progressBar{
    background:rgba(37, 255, 160, 1);
    width: 70%;
  }
  /* About end */
  /* experience begin */
  #experience{
  color: #fff;
  background: #010E1E;
  }
  #experience li{
    text-indent: 0.12rem;
    margin-bottom: 0.29rem;
  }
  #experience li:before{
    content: "";
    display: inline-block;
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 50%;
    margin-right: 0.12rem;
  }
  #experience-container{
    width: 12.01rem;
    margin: 0 auto;
    padding-top:0.94rem;
    padding-bottom: 0.88rem;
  }
  .experience-title{
  font-size: 0.26rem;
  margin-bottom: 0.93rem;
  }
  .Time{
    width: 2.07rem;
  height: 2.33rem;
  border-radius: 0.1rem;
  text-align: center;
  }
  .Time p{
    margin-top: 0.88rem ;
    margin-bottom: 0.19rem;
  }
  .Time p:last-child{
    margin: 0;
  }
  .information{
  width: 11.58rem;
  height: 2.34rem;
  background: #151F2B;
  border-radius: 0.1rem;
  text-align: center;
  position: relative;
  }
  .in-title{
  width: 3.08rem;
  height: 0.52rem;
  background: #010E1E;
  border-radius: 0.1rem;
  position: absolute;
  left: 0.33rem;
  top: 0.47rem;
  line-height: 0.52rem;
  }
  .in-content{
    position: absolute;
    left: 0.4rem;
    bottom: 0.69rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  #li-ora::before{
    background: #FF9B2F;
  }
  #li-pur::before{
  background: rgba(108, 108, 229, 1);
  }
  #li-blue::before{
  background: rgba(18, 117, 240, 1);
  }
  #li-pink::before{
  background: rgba(249, 123, 139, 1);
  }
  #li-green::before{
  background: rgba(84, 216, 145, 1);
  }
  #li-light::before{
    background: rgba(101, 205, 255, 1);
    }
  