/*--------------------------------------------------------------
# 粒子特效区域
--------------------------------------------------------------*/
#search {
  position: relative;
  height: 5.93rem;
}

#search>* {
  position: relative;
}

#particles-js {
  height: 5.93rem;
  background: #010e1e;
  width: 100%;
  position: absolute;
  top: 0;
}

#search .search-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.form-wrap {
  display: inline-flex;
  margin-top: 1.02rem;
  left: 50%;
  transform: translateX(-50%);
}

#search input {
  width: 12rem;
  height: 0.91rem;
  background: #ffffff;
  border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
  border: none;
  outline: none;
  text-indent: 5.36rem;
  box-sizing: border-box;
}

#search input:focus {
  border: #e46a2b 2px solid;
}

#search button:hover {
  background: #ca4e05;
}

/*--------------------------------------------------------------
# 瀑布流区域
--------------------------------------------------------------*/
.type-tags {
  display: flex;
  justify-content: center;
  margin: 0.8rem auto;
}

.type-tags li {
  font-size: 0.18rem;
  color: #ffffff;
  font-weight: bold;
  padding: 0.18rem 0.5rem;
  border-radius: 0.03rem;
  margin-right: 0.33rem;
  cursor: pointer;
}

.type-tags li:nth-child(1) {
  background: #6c6ce5;
}

.type-tags li:nth-child(2) {
  background: #f9d74c;
}

.type-tags li:nth-child(3) {
  background: #f97b8b;
}

.type-tags li:nth-child(4) {
  background: #80c269;
}

.waterfall-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.waterfall-wrap ul {
  width: 384px;
}

.waterfall-wrap li {
  margin-bottom: 43px;
  color: #fff;
}

.waterfall-wrap img {
  width: 384px;
  /* float: left; */
}

/*----------------------------------------------------------------------
# Footer 
 ----------------------------------------------------------------------*/
.main-foot {
  background: #151F2B;
}

footer {
  background: #010E1E;
}