@font-face {
  font-family: "iconfont"; /* Project id 3550800 */
  src: url('iconfont.woff2?t=1659063593279') format('woff2'),
       url('iconfont.woff?t=1659063593279') format('woff'),
       url('iconfont.ttf?t=1659063593279') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qm-link:before {
  content: "\e756";
}

.qm-search:before {
  content: "\e752";
}

.qm-next:before {
  content: "\e600";
}

.qm-prev:before {
  content: "\e601";
}

.qm-arrow-right:before {
  content: "\e624";
}

.qm-clock:before {
  content: "\e8c4";
}

.qm-envelope:before {
  content: "\e982";
}

.qm-address:before {
  content: "\e649";
}

